*{
    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* nav----------------------------------------------------------------------- */
.btn{
    size:20px;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    
}

.btn #link-btn{
    background-color: teal;
    color: white;
    border-radius: 5px;
}

#link-btn:hover{
    background-color: aqua;
    color: black;
    transition: 0.5s;
    font-weight: bold;
}
/* -------------------------------------------------------------------------- */

/* image --------------------------------------------------------------------- */
#img-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#img-container img {
    border-radius: 50%;
    position: right;
    background: transparent;
}
/* ------------------------------------------------------------------------------ */
/* name --------------------------------------------------------------------------*/
.name{
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: right;
}

.name p{
    font-size: 20px;
    color: red;
    justify-content: center;
}

.name h1{
    font-size: 40px;
    margin-top: 10px;
}
h1:hover{
    color: aqua;
    transition: 0.5s;
    text-decoration: red ;
}   
/* ------------------------------------------------------------------------------- */

/* about----------------------------------------------------------- */
#sum{
    color: aqua;
    /* margin-bottom: 20px; */
    margin-top: 20px;
    display: flex;
    justify-content: center;
    
}
.SUMMARY p{
    justify-content: center;
}
/* connect ------------------------------------------------------- */
.icons{
    font-size: 25px;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

/* skills-------------------------------------------------------------------- */
.best #icons-skills{
    margin-top: 10px;
    font-size: 18px;
    display: flex;
    justify-content: left;
    gap: 10px;
}


