*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #747433;
    color: #333;
    line-height: 1.6;
}
h3{
    margin-bottom: 15px;
    color: #f5efef;
}


.pro{
    width: 100px;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}
.btn{
    display: inline-block;
    background: #3498db;
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
    
    border: 2px solid red ;
    
}

form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    color: aqua;
}

fieldset{
    border: #e01da6 2px solid;
    margin: 10px;
}